.sub-card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sub-card-group__top-row,
.sub-card-group__bottom-row {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.sub-card-group__bottom-row{
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
