@font-face {
    font-family: 'gilroy-bold';
    src: url('../public/fonts/gilroy-bold.otf');
}

@font-face {
    font-family: 'gilroy-light';
    src: url('../public/fonts/gilroy-light.otf');
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('../public/fonts/gilroy-medium.otf');
}

@font-face {
    font-family: 'gilroy-regular';
    src: url('../public/fonts/gilroy-regular.otf');
}

.wrapper {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper>.page-parent{
    width: 100%;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'gilroy-bold';
}

body, p {
    font-family: 'gilroy-light';
}