@font-face {
    font-family: 'gilroy-bold';
    src: url('../public/fonts/gilroy-bold.otf');
}

@font-face {
    font-family: 'gilroy-light';
    src: url('../public/fonts/gilroy-light.otf');
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('../public/fonts/gilroy-medium.otf');
}

@font-face {
    font-family: 'gilroy-light';
    src: url('../public/fonts/gilroy-regular.otf');
}

main {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    font-family: 'gilroy-light';
}

h1 {
    font-family: 'gilroy-bold';
}
