@font-face {
    font-family: 'gilroy-bold';
    src: url('./static/fonts/gilroy-bold.otf');
}

@font-face {
    font-family: 'gilroy-light';
    src: url('./static/fonts/gilroy-light.otf');
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('./static/fonts/gilroy-medium.otf');
}

@font-face {
    font-family: 'gilroy-regular';
    src: url('./static/fonts/gilroy-regular.otf');
}

@media (min-width: 576px) {
    .page-parent {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .page-parent {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .page-parent {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .page-parent {
        max-width: 1140px;
    }
}

.wrapper {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper>.page-parent {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0rem 1rem;
}

h1, h2 {
    font-family: 'gilroy-bold';
}

body, p {
    font-family: 'gilroy-light';
}