.card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-group__top-row,
.card-group__bottom-row {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.card-group__bottom-row{
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

.overview-card-group__bottom-row__col {
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 1rem;
}

.overview-card-group__bottom-row__col #1 {
    padding-right: 0;
    width: 2rem;
}

.overview-card-group__bottom-row__col-1__p {
    margin: 0;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

