.page-parent {
    display: flex;
    justify-content: center;
    margin: 0rem 9.5rem;
}
.card-holder{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #E0E1E6;
    margin: 2rem 1rem;
    padding: 0rem 2rem 2rem 2rem;
    align-content: center;
    align-items: center;
}

.dash-title {
    margin: 0.5rem 0rem;
}

.card-title-holder {
    padding-left: 1.75rem;
    justify-items: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4rem;
}