<!DOCTYPE html>
html
    head
        title Index
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width", initial-scale="1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/CSS/main.css", type="text/css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li(class="main-header__item logo")
                        a my
                        a(class="bold") subs
                        a .live
                    li(class="main-header__item nav-right")
                        a Login
                    li(class="main-header__item nav-right")
                        a Sign up
        div.center
            h1.sign Construction in Progress
            h2.sign Come back soon!