.auth-user__header__navbar {
    background-color: #3854F2;
    padding: 0.5rem 0;
}

.navbar__brand-position {
    padding: 0.5rem 0rem;
}

.auth-user__header__nav-link,
.auth-user__header__nav-link>a{
    padding: 0.5rem 1rem !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

.auth-user__header__nav-link:hover,
.auth-user__header__nav-link>a:hover {
    transition: all 0.3s ease 0s !important;
    color: #FFD33B !important;
    text-decoration: none !important;
}