.home {
    justify-items: center;
    height: 35rem;
    width: 100%;
    padding: 0rem 0.5rem;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background-image: linear-gradient(#3854F2, #3243A6);
}

.home h1 {
    font-size: 3.5rem;
    color: #fff;
}

.home button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem;
    text-align: center;
    border-radius: 4rem;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.home button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff !important;
    transform: scale(1.05);
}

.product {
    justify-items: center;
    height: 45rem;
    padding: 0rem 0.5rem;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
}

.about {
    justify-items: center;
    height: 45rem;
    padding: 0rem 0.5rem;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
}

.contact {
    justify-items: center;
    height: 45rem;
    padding: 0rem 0.5rem;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
}

.feedback {
    justify-items: center;
    height: 45rem;
    padding: 0rem 0.5rem;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
}

.centered {
    position: relative;
    top: 20%;
}