.landing__home {
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 1rem 0.5rem;
    text-align: center;
    background-image: linear-gradient(#3854F2, #3243A6);
    
}

.landing__home__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.landing__home__title {
    font-size: 3.5rem;
    color: #fff;
}

.landing__home__try-now-btn {
    width: 24rem;
    height: 4rem;
    padding: 0.5rem 2rem;
    border-radius: 6rem;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-size: 1.75rem;
    margin: 2rem;
    text-decoration: none !important;
}

.landing__home__try-now-btn:hover {
    background-color: #FFB93B;
    box-shadow: 0rem 2rem 1.5rem -1.5rem rgba(255, 185, 59, 0.3);
    color: #fff !important;
    transform: scale(1.1);
}

.landing__product, 
.landing__about,
.landing__feedback,
.landing__contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 44rem;
    padding: 1rem 10rem;
    text-align: center;
    background-image: linear-gradient(#ffffff, #ebedee);
}

.landing__title {
    margin: 2rem 0rem;
}

.landing__product__title {
    margin: 0rem 0rem 0.5rem 0rem;
}

.landing__product__image {
    width: inherit;
    height: inherit;
}

.landing__product__left-col,
.landing__product__right-col {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__about__left-col,
 .landing__about__right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__about__left-col {
    text-align: left;
}

.landing__about__right-col {
    text-align: center;
    align-items: center;
}

.landing__about__right-col__profile-pic {
    margin: 1rem;
    width: 6rem;
    height: 6rem;
}

.landing__contact__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__contact__links-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing__contact__linked-img,
.landing__contact__email-img {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.large-logo {
    width: 40rem;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__form-group {
    width: 50%;
}
