.navbar__brand-position {
    padding-top: 0;
}

.navbar, 
.navbar-default {
    background-color: #3854F2;
}

.navbar {
    padding: 0.5rem 0rem;
}

.nav-link {
    padding: 0.5rem 1rem;
    color: #ffffff;
}

.nav-link:hover {
    transition: all 0.3s ease 0s;
    color: #FFD33B;
}