.navbar__brand-position {
    padding-top: 0;
}

.navbar, 
.navbar-default {
    background-color: #3854F2;

}

.nav-link {
    padding: 0.5rem 1rem;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    transition: all 0.3s ease 0s;
    color: #FFD33B;
}