.navbar__brand-position {
    padding-top: 0;
}

.navbar {
    padding: 0.5rem 2rem;
}
.navbar, 
.navbar-default {
    background-color: #3854F2;
}

.nav-link {
    padding: 0.5rem 1rem;
    color: #ffffff;
}

.nav-link:hover {
    color: #E6E6E6;
}

.signup-btn {
    border-radius: 0.25rem !important;
    background: #59D9C1 !important;
}
