.market-card__container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.market-card__container__carousel {
    height: 45%;
    width: 90%;
}