.signup-card__container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}