.navbar__brand-position {
    padding-top: 0;
}

.navbar {
    padding: 0.5rem 2rem;
}
.navbar, 
.navbar-default {
    background-color: #3854F2;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFB93B;
}
